.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.login-card {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
  text-align: center;
}

.title {
  color: red;
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #e57373;
  border: none;
  color: white;
  cursor: pointer;
}