<p-toast position="top-right"></p-toast>

<div class="sidebar">

  <!-- Logo -->
  <div class="logo">
    <button class="logo-r-btn" routerLink="/dashboard">R</button>
  </div>

  <!-- Menu -->
  <div class="menu">
    <div class="menu-item" routerLink="/overview" routerLinkActive="active" pTooltip="Overview" tooltipPosition="right">
      <img src="assets/sidebar/dashboard.svg" />
    </div>

    <div class="menu-item" routerLink="/scanner" routerLinkActive="active" pTooltip="Scanner" tooltipPosition="right">
      <img src="assets/sidebar/scanner.svg" />
    </div>

    <div class="menu-item" routerLink="/recents" routerLinkActive="active" pTooltip="Recent" tooltipPosition="right">
      <img src="assets/sidebar/reports.svg" />
    </div>

    <div class="menu-item" *ngIf="isQA" routerLink="/quality" routerLinkActive="active" pTooltip="Quality" tooltipPosition="right">
      <img src="assets/sidebar/quality.svg" />
    </div>

    <div class="menu-item" *ngIf="isIMS" routerLink="/hod-approval" routerLinkActive="active" pTooltip="HOD Approval" tooltipPosition="right">
      <img src="assets/sidebar/img.svg" />
    </div>
  </div>

  <!-- Settings Icon -->
  <div class="profile-section">
    <div class="menu-item profile-trigger" routerLink="/settings" routerLinkActive="active" pTooltip="Settings" tooltipPosition="right">
      <i class="pi pi-cog" style="font-size: 1.4rem"></i>
    </div>
  </div>

</div>
